# configuration for all branches

image: Visual Studio 2017

skip_tags: false

skip_branch_with_pr: true

test: off

pull_requests:
  do_not_increment_build_number: true

# Skipping commits affecting specific files
skip_commits:
  files:
  - '**\AssemblyInfo.*'
  - '**/*.md'
  - 'LICENSE'
  - dir/*
  - '.gitignore'

build:
  verbosity: minimal

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  matrix:
    - RUBY_VERSION: 24
  GitHubUserName:
    secure: 7OBtVAMTodMWK20wg6pGnQ==
  GitHubUserEmail:
    secure: /NpmL1KqwHyHFnF0GlUovA586wDIt8Hg/Q8Dro6kUpk=
  GitHubToken:
    secure: i/2hGsqVMwzdM5yIS4rxOIeG3ftx7su7klWYN80s/fHvgk7A5H2fF3oUTNLcyTbw
  GitRestAuth:
    secure: E3bCMe4LtDdAhHSYRcLp0N6DixJe1m8TNxhYeJW/GnqM3WXdRqsgkHSbwootPjJQtOQJrps4twmzTVzofLSVgPgbzU8PxU0AkJV7zwkyVOE=

init:
- git config --global core.autocrlf true
- git config --global credential.helper store
- ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GitHubToken):x-oauth-basic@github.com`n"
- git config --global user.email "%GitHubUserEmail%"
- git config --global user.name "%GitHubUserName%"
- ps: "$headers = if($env:APPVEYOR_PULL_REQUEST_NUMBER){\n @{\n  \"Authorization\" = \"Basic $env:GitRestAuth\"\n  \"Content-type\" = \"application/json\"\n}\n\n$pr = Invoke-RestMethod -Uri \"https://api.github.com/repos/$env:APPVEYOR_REPO_NAME/pulls/$env:APPVEYOR_PULL_REQUEST_NUMBER\" -Headers $headers  -Method GET\n\nif($pr.user.login -eq \"nfbot\" -and $pr.body -match \"*[version update]*\")\n{\n    # commit was from nfbot AND it's taged as a [version update]\n    # OK to skip AppVeyor build \n    \"Version update only. Skipping build.\" | Write-Host -BackgroundColor White -ForegroundColor Blue\n    Exit-AppveyorBuild\n} }\n"
- ps: "if($env:APPVEYOR_PULL_REQUEST_NUMBER -eq \"\")\n{\n   \n    if($env:APPVEYOR_REPO_COMMIT_AUTHOR -eq \"nfbot\" -and $env:APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED -like \"*[version update]*\")\n    {\n        # commit was from nfbot AND it's taged as a [version update]\n        # OK to skip AppVeyor build \n        \"Version update only. Skipping build.\" | Write-Host -BackgroundColor White -ForegroundColor Blue\n        Exit-AppveyorBuild\n    }\n}"

install:
- cmd: git submodule update --init --recursive
- set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
- bundle config --local path vendor/bundle
- gem install bundler --quiet --no-ri --no-rdoc
- gem install github_changelog_generator --quiet --no-ri --no-rdoc
- choco install gitversion.portable -pre -y

before_build:
- ps: >-
    nuget sources add -name MyGet -Source https://www.myget.org/F/nanoframework-dev

    nuget restore source\nanoFramework.Tools.VisualStudio.sln

    C:\ProgramData\chocolatey\lib\GitVersion.Portable\tools\GitVersion.exe /l console /output buildserver /updateAssemblyInfo "source\VisualStudio.Extension\Properties\AssemblyInfo.cs"

    .\update-vsix-manifest.ps1 $env:GitVersion_AssemblySemVer

build_script:
- ps: >-

    msbuild source\nanoFramework.Tools.VisualStudio.sln /p:Configuration=Release /m /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

before_deploy:
- ps:  >-
    .\commit-assemblyinfo-changes.ps1

    .\generate-change-log.ps1

artifacts:
- path: '**\*.vsix'
  name: VS_extension

on_success:
  - ps: .\upload-vsix-myget.ps1

# requires APPVEYOR_DISCORD_WEBHOOK_URL enviroment variable set with Discord webhook URL
on_failure:
  - ps: |
  
      & $env:APPVEYOR_BUILD_FOLDER\appveyor-discord.ps1 failure $env:APPVEYOR_DISCORD_WEBHOOK_URL

cache:
  - source\packages -> **source\packages.config
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
   
################################################
# override configuration for specific branches
for:

-
  branches:
    only:
      - master
      - /v.*/

  deploy:
  - provider: GitHub
    tag: v$(GitVersion_MajorMinorPatch).$(GitVersion_CommitsSinceVersionSource)
    release: nanoFramework VS2017 Extension v$(GitVersion_MajorMinorPatch)
    description: 'Check the [changelog](https://github.com/nanoframework/nf-Visual-Studio-extension/blob/master/CHANGELOG.md).\n\n### Install from Visual Studio Marketplace\n\nThe following Visual Studio Extensions are available for install from this release\n\n- [nanoFramework VS2017 Extension](https://marketplace.visualstudio.com/items?itemName=vs-publisher-1470366.nanoFrameworkVS2017Extension)'
    auth_token:
      secure: DNixoFFE+pGlwyhj7McfZoln42vOmj0iY1iNV9zXEr3y0NpXlOIgL8k5ehzlFM1S
    artifact:
    draft: true
    prerelease: false
    force_update: true
    on:
      appveyor_repo_tag: false

-
  branches:
    only:
      - /dev.*/

  deploy:
  - provider: GitHub
    tag: v$(GitVersion_MajorMinorPatch).$(GitVersion_CommitsSinceVersionSource)
    release: nanoFramework VS2017 Extension v$(GitVersion_MajorMinorPatch).$(GitVersion_CommitsSinceVersionSource)
    description: 'Check the [changelog](https://github.com/nanoframework/nf-Visual-Studio-extension/blob/$(appveyor_repo_branch)/CHANGELOG.md).\n\n## Install from nanoFramework MyGet development feed\n\nThe following Visual Studio Extensions are available for install from this release\n\n- [nanoFramework VS2017 Extension](https://www.myget.org/feed/nanoframework-dev/package/vsix/47973986-ed3c-4b64-ba40-a9da73b44ef7)'
    auth_token:
      secure: DNixoFFE+pGlwyhj7McfZoln42vOmj0iY1iNV9zXEr3y0NpXlOIgL8k5ehzlFM1S
    artifact: VS_extension
    draft: true
    prerelease: true
    force_update: true
    on:
      appveyor_repo_tag: false

-
  branches:
    only:
      - /release.*/

  deploy:
  - provider: GitHub
    tag: v$(GitVersion_MajorMinorPatch).$(GitVersion_CommitsSinceVersionSource)
    release: nanoFramework VS2017 Extension v$(GitVersion_MajorMinorPatch)
    description: 'Check the [changelog](https://github.com/nanoframework/nf-Visual-Studio-extension/blob/$(appveyor_repo_branch)/CHANGELOG.md).\n\n### Install from Visual Studio Marketplace\n\nThe following Visual Studio Extensions are available for install from this release\n\n- [nanoFramework VS2017 Extension](https://marketplace.visualstudio.com/items?itemName=vs-publisher-1470366.nanoFrameworkVS2017Extension)'
    auth_token:
      secure: DNixoFFE+pGlwyhj7McfZoln42vOmj0iY1iNV9zXEr3y0NpXlOIgL8k5ehzlFM1S
    artifact:
    draft: true
    prerelease: true
    force_update: true
    on:
      appveyor_repo_tag: false
