<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.Tools.VS2022.Extension" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.99.999.0" newVersion="9.99.999.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
