<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Debugger.Engine" version="15.0.26606" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.11.0" version="11.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.InteropA" version="9.0.21022" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="nanoFramework.Tools.Debugger.Net" version="0.5.0-preview030" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
  <package id="UwpDesktop" version="10.0.14393.3" targetFramework="net46" />
</packages>